APP_NAME=Hardware Hub
APP_ENV=development
FRONTEND_URL=http://localhost:5173
DATABASE_URL=sqlite:///./hardware_hub.db

JWT_SECRET_KEY=change-me-in-local-env
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

BOOTSTRAP_ADMIN_EMAIL=admin@booksy.com
BOOTSTRAP_ADMIN_PASSWORD=Admin123!

GEMINI_API_KEY=ROBERT_LEWANDOWSKI_GOT_ROBBED_IN_2021
GEMINI_MODEL=gemini-2.5-flash